USE [SuperoTarefas]
GO
/****** Object:  Table [dbo].[Tarefas]    Script Date: 15/05/2019 05:00:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefas](
	[ID_TAREFA] [int] NOT NULL,
	[TITULO_TAREFA] [varchar](150) NOT NULL,
	[DES_TAREFA] [varchar](400) NULL,
	[DATA_CRIACAO] [datetime] NOT NULL,
	[DATA_EDICAO] [datetime] NULL,
	[DATA_EXCLUSAO] [datetime] NULL,
	[TAREFA_STATUS_ID] [int] NOT NULL,
	[TAREFA_URGENCIA_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_TAREFA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarefasStatus]    Script Date: 15/05/2019 05:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarefasStatus](
	[ID_STATUS] [int] NOT NULL,
	[DES_STATUS] [varchar](50) NULL,
 CONSTRAINT [PK_TarefasStatus] PRIMARY KEY CLUSTERED 
(
	[ID_STATUS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TarefasUrgencia]    Script Date: 15/05/2019 05:00:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TarefasUrgencia](
	[ID_URGENCIA] [int] NOT NULL,
	[DES_URGENCIA] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_URGENCIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tarefas]  WITH CHECK ADD  CONSTRAINT [FK_TAREFA_STATUS] FOREIGN KEY([TAREFA_STATUS_ID])
REFERENCES [dbo].[TarefasStatus] ([ID_STATUS])
GO
ALTER TABLE [dbo].[Tarefas] CHECK CONSTRAINT [FK_TAREFA_STATUS]
GO
ALTER TABLE [dbo].[Tarefas]  WITH CHECK ADD  CONSTRAINT [FK_TAREFA_URGENCIA] FOREIGN KEY([TAREFA_URGENCIA_ID])
REFERENCES [dbo].[TarefasUrgencia] ([ID_URGENCIA])
GO
ALTER TABLE [dbo].[Tarefas] CHECK CONSTRAINT [FK_TAREFA_URGENCIA]
GO
